<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{HTTP_HOST} ^blog\.ilijaruzic\.rs$ [NC]
  RewriteRule ^(.*)$ https://ilijaruzic.rs/blog/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^(www\.)?xn--80ameaco1bya0q9a\.xn--90a3ac$ [NC]
  RewriteRule ^(.*)$ https://ilijaruzic.rs/$1 [R=301,L]

  RewriteCond %{REQUEST_URI} ^/(rs|ru|it)/en(/.*)?$ [NC]
  RewriteRule ^(rs|ru|it)/en(/.*)?$ /$1$2 [R=301,L]

  RewriteCond %{REQUEST_URI} ^/en/(rs|ru|it)(/.*)?$ [NC]
  RewriteRule ^en/(rs|ru|it)(/.*)?$ /$1$2 [R=301,L]

  RewriteCond %{REQUEST_URI} ^/en(/.*)?$ [NC]
  RewriteRule ^en(/.*)?$ $1 [R=301,L]

  RewriteCond %{REQUEST_URI} !^/$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^(.*)/$ /$1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

<IfModule mod_headers.c>
  Header set X-Custom-Header "IlijaRuzic"
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set X-XSS-Protection "1; mode=block"

  <FilesMatch "index\.html$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>

  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>

  <FilesMatch "\.(webp)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>

  <FilesMatch "\.(png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|otf|ico)$">
    Header set Cache-Control "public, max-age=172800, must-revalidate"
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 2 days"
</IfModule>

<IfModule mod_security.c>
  SecRuleEngine On
  SecRule ARGS "@contains 'SELECT'" "id:1,deny,status:403"
</IfModule>